  .App {
    text-align: center;
    padding: 20px;
  }
  
  .head {
    border-bottom: 1px solid #E98B30;
    padding: 16px;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 8px;
  }
  
  .navbar button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .navbar button:hover {
    color: #E98B30;
  }
  
  .search-bar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
  }

  .order-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
  }
  
  .order-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
  }
  
  
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .menu-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 8px;
    border-radius: 4px;
    max-width: 200px;
    text-align: center;
  }

  .logout-button-container {
    position: absolute;
    top: 110px;
    right: 50px;
  }

  .logout-button {
    background-color: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: color 0.5s ease;
  }
  
  .logout-button:hover {
    color: var(--foodchap-orange);
  }


  
  
  