.place-order-item-cover{
    height: 190px;
    width: 260px;
    box-shadow: var(--collection-shadow);
    border-radius: 8px;
    transition: all 0.5s ease;
}

.place-order-item-cover:hover{
    transform: translate3d(0.5rem, 0.1rem, -10rem);;
}

.place-order-item-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.place-order-item-title{
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 6px;
}